body{
    margin: 0; font-size: 14px; text-align: center;
    background-color: rgba(0,0,0,0.03); 
    font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.jumbo-element{
  width: 100%; height: 400px; text-align: center; background:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('../assets/beach.jpg'); background-size: 100% 100%;
  background-repeat: no-repeat; position: absolute; top: 0; z-index: -1; 
} 
.inside-jumbo-element{width: 80%; margin-left: 10%; margin-top: 125px; font-family: 'Alata'; font-size: 30px; color: white;}

.second-element{width: 80%; margin-left: 10%; min-height: 400px; margin-top: 450px; line-height: 1.8;}
.second-element:after{display: table; content: ""; clear: both;}
.second-element-left{float: left; width: 40%; 
  background-image: linear-gradient(to right, rgb(99, 194, 114) , rgb(145, 212, 155)); color: white;}
.second-element-right{float: left; width: 55%;margin-left: 5%; text-align: left;}


.third-element{width: 80%; margin-left: 10%; padding: 25px 0px 25px 0px; min-height: 600px;}
.third-element:after{display: table; content: ""; clear: both;}
.third-element-child{width: 30%; margin-left: 3.33%; float: left; min-height: 500px; line-height: 1.8;
   text-align: left; padding-bottom: 10px;}


.fourth-element{width: 80%; margin-left: 10%; padding: 25px 0px 25px 0px; min-height: 400px;}
.fourth-element:after{display: table; content: ""; clear: both;}
.fourth-element-left-child{width: 40%; float: left; text-align:left; height: 500px;line-height: 1.8;}
.fourth-element-right-child{width: 55%; margin-left: 5%; text-align: left;float: left; height: 500px; line-height: 1.8; }  

.fourth-element-left-child-sub-left, .fourth-element-left-child-sub-cat-left{width: 50%; float: left; text-align: left; padding: 8px 0px 8px 0px;}
.fourth-element-left-child-sub-right, .fourth-element-left-child-sub-cat-right{width: 50%; float: left; text-align: right; padding: 8px 0px 8px 0px;}



.fifth-element{width: 80%; margin-left: 10%; padding: 25px 0px 25px 0px; min-height: 200px;}
.fifth-element:after{display: table; content: ""; clear: both;}
.fifth-element-child{float: left;width: 21%; margin-left: 2%; margin-top: 25px; border-radius: 3px; padding: 1%; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.025); height: 200px; line-height: 1.7;}
.fifth-element-child:hover{margin-top: -1px; transition-duration: 1s; cursor: pointer; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.05);}

.footer-element{width: 100%; margin-top: 30px; padding: 25px 0px 25px 0px;
  background-color: rgba(0,0,0,0.8); color: #f2f2f2; width: 100%; margin-left: 0%; font-size: 13px;}
 /*lets do second commit*/ 