html {
  scroll-behavior: smooth;
}

body{
    margin: 0; font-size: 14px; text-align: center; word-spacing: 1px; letter-spacing: 0.3px;
    background-color: rgba(0,0,0,0.02); 
    font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/

.jumbo-element{
  width: 100%; height: 400px; text-align: center; background:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('../assets/backg.jpg'); background-size: 100% 100%;
  background-repeat: no-repeat; position: absolute; top: 0; z-index: -1; 
} 
.inside-jumbo-element{width: 80%; margin-left: 10%; margin-top: 125px; font-family: 'Alata'; font-size: 25px; color: rgba(255,255,255,0.8);}
@media only screen and (max-width: 800px) {.inside-jumbo-element{font-size: 20px; margin-top: 100px;}}

.inside-jumbo-element-div{width: 60%; margin-left: 20%; font-size: 15px; color: #fff; margin-top: -15px; }
@media only screen and (max-width: 800px) {.inside-jumbo-element-div{width: 100%; margin-left: 0%;}}

/*--------------------------------------------------------------------------------*/


.bio-part{width: 80%; margin-left: 10%; padding: 20px 0px 20px 0px; text-align: left;
  margin-top: 450px; line-height: 1.8; background-color: #fff;}

.achievement-row{width: 100%;}
.achievement-row::after{display: table; content: ""; clear: both;}  
.achievement-block{width: 15%; margin-left: 1%; background-color: rgba(0, 136, 204,0.1);
   float: left; font-size: 12px; color: #000; text-align: center; padding: 5px 0px 5px 0px;} 
.achievement-numeric{font-size: 25px; color: #333} 

@media only screen and (max-width: 800px) {.achievement-block{width: 30%; margin-left: 1.5%; margin-top: 5px; font-size: 10px;}}
@media only screen and (max-width: 800px) {.achievement-numeric{font-size: 22px;}}

/*--------------------------------------------------------------------------------*/

.second-element{width: 80%; margin-left: 10%; min-height: 400px; margin-top: 50px; 
  line-height: 1.8; text-align: left;}
.second-element:after{display: table; content: ""; clear: both;}

/*--------------------------------------------------------------------------------*/


.third-element{width: 80%; margin-left: 10%; padding: 20px 0px 10px 0px; min-height: 300px;}
.third-element:after{display: table; content: ""; clear: both;}
.third-element-child{width: 30%; margin-left: 3.33%; float: left; min-height: 300px; line-height: 1.8;
   text-align: left; padding-bottom: 10px; border-radius: 2px; background-color: #fff;}
.third-element-child:hover{box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;  transition: 0.7s; cursor: pointer;}   
@media only screen and (max-width: 800px) {
  .third-element-child{width: 90%; margin-left: 5%; margin-top: 20px;}
}

/*--------------------------------------------------------------------------------*/

.fourth-element{width: 84%; margin-left: 8%; padding: 25px 0px 25px 0px; min-height: 400px;}
.fourth-element:after{display: table; content: ""; clear: both;}
.fourth-element-left-child{width: 40%; float: left; text-align:left; height: 500px;line-height: 1.8; }
.fourth-element-right-child{width: 55%; margin-left: 5%; text-align: left;float: left; height: 500px; line-height: 1.8; color: rgba(0,0,0,0.7); }  
@media only screen and (max-width: 800px) {
  .fourth-element-left-child, .fourth-element-right-child{width: 90%; margin-left: 5%;}
}

.fourth-element-left-child-sub-left, .fourth-element-left-child-sub-cat-left{width: 50%; float: left; text-align: left;padding: 10px 0px 10px 0px; color: #4d4d4d;}
.fourth-element-left-child-sub-right, .fourth-element-left-child-sub-cat-right{width: 50%; float: left; text-align: right; padding: 10px 0px 10px 0px; color: #4d4d4d;}
.fourth-element-left-child-sub-cat-left{color: rgba(0,0,0,0.7);}
.fourth-element-left-child-sub-cat-right{color: rgba(0,0,0,0.7);}



/*--------------------------------------------------------------------------------*/


.fifth-element{width: 80%; margin-left: 10%; min-height: 600px; }
.fifth-element:after{display: table; content: ""; clear: both;}

.fifth-element-grid-1{float: left; width: 40%; min-height: 600px;}
.fifth-element-grid-2{float: left; width: 34%; min-height: 600px; margin-left: 1%;}
.fifth-element-grid-3{float: left; width: 24%; min-height: 600px; margin-left: 1%;}
@media only screen and (max-width: 800px) {
  .fifth-element-grid-1,
  .fifth-element-grid-2,
  .fifth-element-grid-3{
    width: 100%; margin-left: 0; 
  }
}

.fifth-element-content{width: 100%; text-align: left; margin-top: 10px;  border-radius: 2px; font-size:12px; line-height: 1.7em;}
.fifth-element-content:hover{box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 12px; transition: 0.5s; cursor: pointer;}
.fifth-element-text-content{width: 100%; height: 100px; position: relative;  background-color: rgba(0,0,0,0.7); color: rgba(255,255,255,0.8);}

.back-1{background: url('../assets/aws.jpg');}
.back-2{background: url('../assets/gitpull.png');}
.back-3{background: url('../assets/gitpush.png');}
.back-4{background: url('../assets/googleauth.png'); }
.back-5{background: url('../assets/reactcompo.jpg');}
.back-6{background: url('../assets/mongo.png');}
.back-7{background: url('../assets/multifilter.png');}
.back-1, .back-2, .back-3, .back-4, 
.back-5, .back-6, .back-7 {background-repeat: no-repeat; background-size: 100% 100%;}

.article_link{text-decoration: underline; color: #fff; font-weight: bold;}

/*------------------------------------------------------------------------------*/

.recog_headline{text-decoration:underline;}

.recognition-element{width: 80%; margin-left: 10%; min-height: 250px;}
.recognition-element:after{display: table; content: ""; clear: both;}
.recognition-left, .recognition-right{width: 50%; float: left; min-height:250px; line-height: 1.7;}

@media only screen and (max-width: 800px) {.recognition-left, .recognition-right{width: 100%;}}


/*--------------------------------------------------------------------------------*/
.sixth-element{width: 84%; margin-left: 8%; min-height: 500px;}
.sixth-element:after{display: table; content: ""; clear: both;}

.design-block{width:48%; margin-left: 2%; float: left; height: 190px; margin-top: 10px; 
  line-height: 1.8; text-align: left;}
.design-block::after{display: table; content: ""; clear: both;}
.quality-back-1{background: url('../icons/quality.svg');}
.quality-back-2{background: url('../icons/business.svg');}
.quality-back-3{background: url('../icons/clock.svg');}
.quality-back-4{background: url('../icons/data.svg');}
.quality-back-1, .quality-back-2, .quality-back-3, .quality-back-4{background-repeat:no-repeat;background-size: 50px; 
  background-position: 45% 50%;}


.left-design-block{float: left; width: 20%; background-color: rgba(0, 136, 204,0.3);
   color: #fff; height: 190px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.right-design-block{float: left; width: 80%; height: 190px; 
  background-color: #fff; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}

@media only screen and (max-width: 800px) {.design-block{width: 100%; margin-top: 0%; margin-top: 20px; height: 210px;}} 
@media only screen and (max-width: 800px) {.left-design-block,.right-design-block{height: 210px;}}


/*--------------------------------------------------------------------------------*/


.footer-element{width: 100%; margin-top: 30px; padding: 25px 0px 50px 0px;
  background-color: rgba(0,0,0,0.08); color: #4d4d4d; width: 100%; margin-left: 0%; font-size: 13px;}
 /*lets do second commit*/ 