.myskills {
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px; 
    color: #fff;
  }
  
  #react, #angular, #laravel {
    width: 1%;
    height: 12px;
    border-radius: 2px; 
    background-color: rgb(0, 204, 153);
  }

  .skill-name{font-size: 14px;}