.topnav {
    overflow: hidden; position: fixed; top: 0px; background: none; min-height: 45px; width: 100%;
    padding: 10px 0px 10px 40px; z-index: 999999999999999999;
}

.topnav-content-left{float: left; width: 5%; padding: 12px 0px 12px 0px;}
.topnav-content-right{float: left; width: 5%; margin-right:2%; padding: 12px 0px 12px 0px;}
.topnav-content-blank{float: left;width: 60%;}

.topnav-content-right-link{text-decoration: none; color: #fff;}